src/CleanArchitecturePart1/CleanArchitecturePart1.Domain/bin/
src/CleanArchitecturePart1/CleanArchitecturePart1.Domain/obj/
src/CleanArchitecturePart1/CleanArchitecturePart1.Application/bin/
src/CleanArchitecturePart1/CleanArchitecturePart1.Application/obj/
