<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="PackageFeed" value="https://colsdevwke.pkgs.visualstudio.com/_packaging/PackageFeed/nuget/v3/index.json" />
  </packageSources>
	<packageSourceCredentials>
		<PackageFeed>
			<add key="Username" value="a-emilio.bolea@karnovglobal.onmicrosoft.com" />
			<add key="ClearTextPassword" value="ow3zx3a7fldc4jpy7egy7spi6tvj5asx7gfveqtft4cdhj2tqe6a" />
		</PackageFeed>
	</packageSourceCredentials>
</configuration>